<h1>Reports</h1>

<button class="btn btn-primary" ng-disabled="rc.ifPrevPageAvailable()" ng-click="rc.changePage(-1)">prev</button>
<button class="btn btn-primary" ng-disabled="rc.ifNextPageAvailable()" ng-click="rc.changePage(1)">next</button>

<table class="table">
	<tr>
		<th>Id</th>
		<th>Date</th>
		<th>UserId</th>
		<th>Price</th>
		<th>Value</th>
		<th>Margin</th>
	</tr>
	<tr ng-repeat="order in orders">
		<td>{{order.id}}</td>
		<td>{{order.date}}</td>
		<td>{{order.userId}}</td>
		<td>{{order.price}}</td>
		<td>{{order.value}}</td>
		<td>{{order.margin}}</td>
	</tr>
	
</table>